<div id="comment_<%= comment.id %>" style="<%= comment_margin_style(comment, escalate) %>">
  <div class="commentitem <%= 'user-post-or-comment' if defined?(user_view) && user_view && comment.user == current_user %> <%= 'white-background' if defined?(@from_user_view) && @from_user_view %>">
    <div class="commentHeader">
      <div class="commentInfo">
        <h4><span><%= link_to comment.user.name, user_path(comment.user), class: 'user-link' %></span>,
          <span class="domain"><%= time_ago_in_words(comment.created_at) %> ago</span></h4>
        <% if defined?(user_view) && user_view %>
          <span class="parent-link custom-link">
            <%= link_to '( Parent )', post_path(comment.post), class: 'custom-link' %>
          </span>
        <% end %>
      </div>
      <div class="commentActions">
        <% if user_signed_in? && current_user.liked_comment?(comment) %>
          <%= button_to like_post_comment_path(@post, comment), method: :delete, remote: true, class: "comment-likeButton voted" do %>
            <i class="fas fa-arrow-up"></i><span class="voted"> </span><span class="voted"><%= comment.likes_comments.count %></span>
          <% end %>
        <% else %>
          <%= button_to like_post_comment_path(@post, comment), method: :post, remote: true, class: "comment-likeButton" do %>
            <i class="fas fa-arrow-up"></i><span> </span><%= comment.likes_comments.count %>
          <% end %>
        <% end %>

        <% if user_signed_in? && current_user.disliked_comment?(comment) %>
          <%= button_to dislike_post_comment_path(@post, comment), method: :delete, remote: true, class: "comment-dislikeButton voted" do %>
            <i class="fas fa-arrow-down"></i><span class="voted"> </span><span class="voted"><%= comment.dislikes_comments.count %></span>
          <% end %>
        <% else %>
          <%= button_to dislike_post_comment_path(@post, comment), method: :post, remote: true, class: "comment-dislikeButton" do %>
            <i class="fas fa-arrow-down"></i><span> </span><%= comment.dislikes_comments.count %>
          <% end %>
        <% end %>
      </div>
    </div>
    <p class="comment-content"><%= comment.body %></p>
    <br>
    <div class="link-container">
      <%= link_to 'reply', '#', class: 'reply-link', data: { comment_id: comment.id } %>
      <% if user_signed_in? && current_user == comment.user %>
        <div class="dropdown">
          <span class="more-link">more</span>
          <div class="dropdown-content">
            <%= link_to 'edit', '#', class: 'edit-link', data: { comment_id: comment.id } %>
            <a>
              <%= button_to 'delete', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button' %>
            </a>
          </div>
        </div>
      <% end %>
    </div>
    <div class="reply-form">
      <%= render 'comments/form', comment: @comment %>
    </div>
    <div class="edit-form" id="edit-form-<%= comment.id %>">
      <%= render 'comments/form', comment: comment %>
    </div>
  </div>
  <% unless defined?(from_user_show) && from_user_show %>
    <% comment.replies.each do |reply| %>
      <%= render 'comments/comment', comment: reply, escalate: escalate, user_view: user_view %>
    <% end %>
  <% end %>
</div>


<script>

    document.addEventListener('DOMContentLoaded', function () {
        var replyLinks = document.querySelectorAll('.reply-link');
        replyLinks.forEach(function (link) {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                var commentId = this.dataset.commentId;
                var form = document.querySelector('#comment_' + commentId + ' .reply-form');
                form.querySelector('input[name="comment[comment_id]"]').value = commentId;
                form.style.display = 'block';
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        var editLinks = document.querySelectorAll('.edit-link');
        editLinks.forEach(function (link) {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                var commentId = this.dataset.commentId;
                var form = document.querySelector('#edit-form-' + commentId);
                form.style.display = 'block';
            });
        });
    });

</script>