<div id="<%= dom_id comment %>" style="margin-left: <%= 20 * comment.depth %>px;">
  <div class="commentitem">
    <div class="commentHeader">
      <div class="commentInfo">
        <h4><span><%= link_to comment.user.name, user_path(comment.user),  class: 'user-link' %></span>,
          <span class="domain"><%= time_ago_in_words(comment.created_at) %> ago</span></h4>
      </div>
      <div class="commentActions">
        <%= button_to like_comment_path(comment), method: :put, class: "comment-likeButton #{'voted' if user_signed_in? && current_user.liked_comment?(comment)}" do %>
          <span class="#{'voted' if current_user.liked_comment?(comment)}"><i class="fas fa-arrow-up"></i><span> </span><%= comment.likes_comments.count %></span>
        <% end %>

        <%= button_to dislike_comment_path(comment), method: :put, class: "comment-dislikeButton #{'voted' if user_signed_in? && current_user.disliked_comment?(comment)}" do %>
          <span class="#{'voted' if current_user.disliked_comment?(comment)}"><i class="fas fa-arrow-down"></i><span> </span><%= comment.dislikes_comments.count %></span>
        <% end %>
      </div>
    </div>
    <p class="comment-content"><%= comment.body %></p>
    <br>
    <div class="link-container">
      <%= link_to 'reply', '#', class: 'reply-link', data: { comment_id: comment.id } %>
      <% if user_signed_in? && current_user == comment.user %>
        <div class="dropdown">
          <span class="more-link">more</span>
          <div class="dropdown-content">
            <%= link_to 'edit', '#', class: 'edit-link', data: { comment_id: comment.id } %>
            <a>
              <%= button_to 'delete', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button' %>
            </a>
          </div>
        </div>
      <% end %>
    </div>
    <div class="reply-form">
      <%= render 'comments/form', comment: @comment %>
    </div>
    <div class="edit-form" id="edit-form-<%= comment.id %>">
      <%= render 'comments/form', comment: comment %>
    </div>
  </div>
  <% comment.replies.each do |reply| %>
    <%= render 'comments/comment', comment: reply %>
  <% end %>
</div>


<script>

    document.addEventListener('DOMContentLoaded', function () {
        var replyLinks = document.querySelectorAll('.reply-link');
        replyLinks.forEach(function (link) {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                var commentId = this.dataset.commentId;
                var form = document.querySelector('#comment_' + commentId + ' .reply-form');
                form.querySelector('input[name="comment[comment_id]"]').value = commentId;
                form.style.display = 'block';
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        var editLinks = document.querySelectorAll('.edit-link');
        editLinks.forEach(function (link) {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                var commentId = this.dataset.commentId;
                var form = document.querySelector('#edit-form-' + commentId);
                form.style.display = 'block';
            });
        });
    });

</script>