<%= render @user %>

<div class="postitem">
  <%= form_for @user, html: { class: 'post-form', multipart: true } do |f| %>
    <div>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div>
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
    </div>

    <div>
      <%= f.label :cover %>
      <%= f.file_field :cover %>
    </div>

    <div class="button-container">
      <%= f.submit "Update Profile", class: 'postitem-button' %>
    </div>
  <% end %>
</div>