<!--<p style="color: green"><%= notice %></p>-->

<%= render @user %>

<aside class="options filter-options" id="options">
  <menu class="options__main">
    <li>
      <%= link_to 'All', user_path(@user, filter: 'all', sort:params[:sort]), class: @filter == 'all' ? 'active' : '' %>
    </li>
    <li>
      <%= link_to "Posts (#{@user.posts.count})", user_path(@user, filter: 'posts', sort: params[:sort] == 'oldest' ? 'top' : params[:sort]), class: @filter == 'posts' ? 'active' : '' %>
    </li>
    <li>
      <%= link_to "Comments (#{@user.comments.count})", user_path(@user, filter: 'comments', sort: params[:sort] == 'commented' ? 'top' : params[:sort]), class: @filter == 'comments' ? 'active' : '' %>
    </li>
    <li>
      <%= link_to "Boosts (#{@user.boosts.count})", user_path(@user, filter: 'boosts', sort:params[:sort]), class: @filter == 'boosts' ? 'active' : '' %>
    </li>
  </menu>

</aside>


<% if @filter == 'comments' %>

  <ul class="filteritem filteritem-user">
    <li><%= link_to 'top', user_path(@user, sort: 'top', filter: params[:filter]), class: ('selected' if params[:sort] == 'top') %></li>
      <li><%= link_to 'newest', user_path(@user, sort: 'newest', filter: params[:filter]), class: ('selected' if params[:sort] == 'newest') %></li>
      <li><%= link_to 'oldest', user_path(@user, sort: 'oldest', filter: params[:filter]), class: ('selected' if params[:sort] == 'oldest') %></li>
  </ul>

  <% @comments.where(comment_id: nil).each do |comment| %>
    <%= render 'comments/comment', comment: comment, escalate: false, user_view: true %>
  <% end %>
<% end %>

<% if @filter == 'posts' %>
  <ul class="filterposts" style="justify-content: space-between;">
    <div style="display:flex">
      <li><%= link_to 'top', user_path(@user, sort: 'top', filter: params[:filter]), class: ('selected' if params[:sort] == 'top') %></li>
      <li><%= link_to 'newest', user_path(@user, sort: 'newest', filter: params[:filter]), class: ('selected' if params[:sort] == 'newest') %></li>
      <li><%= link_to 'commented', user_path(@user, sort: 'commented', filter: params[:filter]), class: ('selected' if params[:sort] == 'commented') %></li>
    </div>
  </ul>

  <% @posts.each do |post| %>
    <%= render post, user_view: true %>
  <% end %>
<% end %>

<% if @filter == 'all' %>
  <% @user.posts.uniq.each do |post| %>
    <%= render post, user_view: true %>
    <% post.comments.where(user_id: @user.id, comment_id: nil).each do |comment| %>
      <%= render 'comments/comment', comment: comment, escalate: false, user_view: true %>
    <% end %>
  <% end %>

  <% (@user.commented_posts - @user.posts).uniq.each do |post| %>
    <%= render post, user_view: true %>
    <% post.comments.where(user_id: @user.id, comment_id: nil).each do |comment| %>
      <%= render 'comments/comment', comment: comment, escalate: false, user_view: true %>
    <% end %>
  <% end %>
<% end %>

<% if current_user == @user %>
  <div class="user-boosts">
    <% if @filter == 'boosts' %>
      <% @boosts.each do |boost| %>
        <%= render 'posts/post', post: boost.post %>
      <% end %>
    <% end %>
  </div>
<% end %>