<%= form_with(model: magazine) do |form| %>
  <% if magazine.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(magazine.errors.count, "error") %> prohibited this magazine from being saved:</h2>

      <ul>
        <% magazine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :rules, style: "display: block" %>
    <%= form.text_field :rules %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
