<style>
  .magazineItem {
      width: 70%;
  }

  .field-with-error {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-content: flex-start;
  }
</style>

<div class="magazineItem">
  <%= form_for @magazine, html: {class: 'magazine-form'} do |f| %>
    <div class="field-with-error">
      <%= f.label :name %>
      <% if @magazine.errors[:name].any? %>
        <div class="error-message">
          <%= @magazine.errors[:name].join(", ") %>
        </div>
      <% end %>
      <%= f.text_area :name, oninput: 'autoResize(this)', required: true %>
    </div>

    <div>
      <%= f.label :title %>
      <%= f.text_area :title, oninput: 'autoResize(this)', required: true %>
    </div>

    <div>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'body-textarea', oninput: 'autoResize(this)' %>
    </div>

    <div>
      <%= f.label :rules %>
      <%= f.text_area :rules, class: 'body-textarea', oninput: 'autoResize(this)' %>
    </div>

    <div class="button-container">
      <%= f.submit "Add new magazine", class: 'magazineItem-button' %>
    </div>

  <% end %>
</div>

<script>
    function autoResize(textarea) {
        textarea.style.height = 'auto';
        if (textarea.scrollHeight > textarea.clientHeight) {
            textarea.style.height = (textarea.scrollHeight) + 'px';
        }
    }
</script>