<div class="magazines">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>
          <%= link_to 'Posts', magazines_path(sort: 'posts'), :class=>"linkMagazine" %>
          <% if params[:sort] == 'posts' %>
            <i class="fa fa-arrow-down"></i>
          <% end %>
        </th>
        <th>
          <%= link_to 'Comments', magazines_path(sort: 'comments'), :class=>"linkMagazine" %>
          <% if params[:sort] == 'comments' %>
            <i class="fa fa-arrow-down"></i>
          <% end %>
        </th>
        <th>
          <%= link_to 'Subscriptions', magazines_path(sort: 'subscriptions'), :class=>"linkMagazine" %>
          <% if params[:sort] == 'subscriptions' %>
            <i class="fa fa-arrow-down"></i>
          <% end %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @magazines.each do |magazine_data| %>
        <tr>
          <td><%= render magazine_data[:magazine] %></td>
          <td><%= magazine_data[:posts_count] %></td>
          <td><%= magazine_data[:comments_count] %></td>
          <td>
            <div style="display: flex; align-items: center; justify-content: space-between;">
              <span class="subsCount"><i class="fa-solid fa-users"></i><span class="subsCountNum"><%= magazine_data[:subscribers_count] %></span></span>
              <% if user_signed_in? && current_user.subscribed_magazines.include?(magazine_data[:magazine]) %>
                <%= button_to unsubscribe_magazine_path(magazine_data[:magazine]),:class=>"subsButton", method: :post do %>
                  <i class="fa-solid fa-folder-minus"></i> Unsubscribe
                <% end %>
              <% else %>
                <%= button_to subscribe_magazine_path(magazine_data[:magazine]),:class=>"subsButton", method: :post do %>
                  <i class="fa-solid fa-folder-plus"></i> Subscribe
                <% end %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>