<div class="magazineinfo">
  <h5>MAGAZINE</h4>
  <hr>

  <div style="display: flex; justify-content: space-between;">
    <div style="flex: 1;">
      <h3><%= @magazine.title %></h3>
      <p><%= @magazine.description %></p>
      <p>Owned by: <%= @magazine.user.username %></p>
      <span>Created: </span><span class=" createdAt" data-created-at="<%= @magazine.created_at %>"></span>
    </div>

    <div style="flex: 1; padding-left: 20px;">
      <p><%= @posts_count %> posts</p>
      <p><%= @comments_count %> comments</p>
      <div style="display: flex; align-items: center;">
        <span class="subsCount"><i class="fa-solid fa-users"></i><span class="subsCountNum"><%= @subscribers_count %></span></span>
        <% if User.find(id=1).magazines.include?(@magazine) %>
          <%= button_to unsubscribe_magazine_path(@magazine),:class=>"subsButton", method: :post do %>
            <i class="fa-solid fa-folder-minus"></i> Unsubscribe
          <% end %>
        <% else %>
          <%= button_to subscribe_magazine_path(@magazine),:class=>"subsButton", method: :post do %>
            <i class="fa-solid fa-folder-plus"></i> Subscribe
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<ul class="filterposts" style="justify-content: space-between;">
  <div style="display:flex">
    <li><%= link_to 'top', magazine_path(sort: 'top', type: params[:type]), class: ('selected' if params[:sort] == 'top') %></li>
    <li><%= link_to 'newest', magazine_path(sort: 'newest', type: params[:type]), class: ('selected' if params[:sort] == 'newest') %></li>
    <li><%= link_to 'commented', magazine_path(sort: 'commented', type: params[:type]), class: ('selected' if params[:sort] == 'commented') %></li>
  </div>

  <div style="display:flex">
    <li><%= link_to 'all', magazine_path(type: 'all', sort: params[:sort]), class: ('selected' if params[:type] == 'all') %></li>
    <li><%= link_to 'links', magazine_path(type: 'links', sort: params[:sort]), class: ('selected' if params[:type] == 'links') %></li>
    <li><%= link_to 'threads', magazine_path(type: 'threads', sort: params[:sort]), class: ('selected' if params[:type] == 'threads') %></li>
  </div>
</ul>

<div id="posts" class="posts">
    <% @posts.each do |post| %>
      <%= render post %>
<% end %>
</div>

<script>

    function formatData(created_at) {

        var time = new Date();
        var datecreated = new Date(created_at);

        var diff = time - datecreated;

        const seconds = Math.floor(diff / 1000);
        const minutes = Math.floor(seconds / 60);
        const hours = Math.floor(minutes / 60);
        const days = Math.floor(hours / 24);
        const months = Math.floor(days / 30);
        const years = Math.floor(months / 12);

        if (years > 0) {
            return years + " years ago";
        } else if (months > 0) {
            return months + " months ago";
        } else if (days > 0) {
            return days + " days ago";
        } else if (hours > 0) {
            return hours + " hours ago";
        } else if (minutes > 0) {
            return minutes + " minutes ago";
        } else {
            return seconds + " seconds ago";
        }
    }


    document.querySelectorAll(".createdAt").forEach(function (element) {
        element.textContent = formatData(element.getAttribute('data-created-at'));
    });


</script>


