<style>
    .postitem {
        width: 70%;
    }

</style>

<div class="postitem">
  <%= form_for @post, html: { class: 'post-form' } do |f| %>
    <%= hidden_field_tag :type, params[:type] %>
    <% if @is_link %>
      <div>
        <%= f.label :url do %>
          <%= content_tag :span, 'URL', style: 'text-transform: uppercase;' %>
        <% end %>
        <%= f.text_field :url, required: @is_link %>
      </div>
    <% end %>

    <div class="field" style="width: auto; text-align: left;">
      <%= f.label :title %>
      <%= f.text_area :title, oninput: 'autoResize(this)' %>
      <% if @post.errors[:title].any? %>
      <span class="error-message" style="margin-left: 100px;"><%= @post.errors[:title].join(", ") %></span>
        <span style="color: white;">ivan</span>
      <% end %>
    </div>

    <div>
      <%= f.label :body %>
      <%= f.text_area :body, class: 'body-textarea', oninput: 'autoResize(this)' %>
    </div>

    <div>
      <%= f.label :magazine %>
      <%= f.collection_select :magazine_id, @magazines, :id, :name, {prompt: 'Select a magazine'}, {required: true} %>
    </div>

    <div class="button-container">
      <%= f.submit (if @post.new_record?
                      @is_link ? "Add new link" : "Add new thread"
                    else
                      "Edit Post"
                    end), class: 'postitem-button' %>
    </div>
  <% end %>
</div>

<script>
    function autoResize(textarea) {
        textarea.style.height = 'auto';
        if (textarea.scrollHeight > textarea.clientHeight) {
            textarea.style.height = (textarea.scrollHeight) + 'px';
        }
    }
</script>