<div class="postitem" id=post.id>
  <div class="vote">
    <br>
    <%= button_to like_post_path(post), method: :put, class:"voteButton #{'voted' if User.find(id=1).liked_post?(post)}" do %>
      <i class="fas fa-arrow-up"></i><span> </span><%= post.likes.count %>
    <% end %>

    <%= button_to dislike_post_path(post), method: :put, class:"voteButton #{'voted' if User.find(id=1).disliked_post?(post)}" do %>
      <i class="fas fa-arrow-down"></i><span> </span><%= post.dislikes.count %>
    <% end %>
  </div>

  <div class="postinfo">
    <h3><%= link_to post.title, post, :class=>'link' %> <span class="domain"> (<%= post.url %>)</span></h3>

    <h4><span><%= post.user.name %></span>, <span class="domain createdAt" data-created-at="<%= post.created_at %>"></span> <span class="domain">to </span> <span> <%= post.magazine.name %> </span></h4>

    <p><%= post.comments.count %> comments</p>
  </div>
  
</div>


<script>

function formatData(created_at) {
  
  var time = new Date();
  var datecreated = new Date(created_at);

  var diff = time - datecreated;
  
  const seconds = Math.floor(diff / 1000);
  const minutes = Math.floor(seconds / 60);
  const hours = Math.floor(minutes / 60);
  const days = Math.floor(hours / 24);
  const months = Math.floor(days / 30);
  const years = Math.floor(months / 12);

  if (years > 0) {
    return years + " years ago";
  } else if (months > 0) {
    return months + " months ago";
  } else if (days > 0) {
    return days + " days ago";
  } else if (hours > 0) {
    return hours + " hours ago";
  } else if (minutes > 0) {
    return minutes + " minutes ago";
  } else {
    return seconds + " seconds ago";
  }
}


document.querySelectorAll(".createdAt").forEach(function(element) {
  element.textContent = formatData(element.getAttribute('data-created-at'));
});

</script>


