<!DOCTYPE html>
<html>
  <head>
    <title>Tuiter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-RE8f1eGsGaaZVzTqrqIh+/fGBccgb4RWo1LxEs5r+57D+9x1DiVdd5TIvJB28an" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <div class="navbar-container">
    <div class="navbar">
      <%= link_to "Tuiter", root_path, :class=>'navbar-logo'%>
      <ul class="navbar-menu centered-menu">
        <li><%= link_to "Threads", root_path%></li>
        <li><a href="#">Microblog</a></li>
        <li><a href="#">All Content</a></li>
        <li><a href="#">People</a></li>
        <li><a href="<%= magazines_path %>">Magazines</a></li>
        <li><a href="#">Collections</a></li>
      </ul>

      <div class="navbar-buttons">
        <a href="#" class="navbar-button">
          <i class="fas fa-search"></i>
        </a>
        

        <div class="dropdown">
          <label for="dropdown-toggle" class="dropdown-label"><i class="fas fa-plus plusbutton"></i></label>
          <div class="dropdown-content">
            <%= link_to "Add new link", new_post_path(link: true) %>
            <%= link_to "Add new thread", new_post_path(link: false) %>
            <%= link_to "Create new magazine", new_magazine_path %>
          </div>
        </div>

        <% if User.find(id=1) %>
        <div class="dropdown">
          <label for="dropdown-toggle" class="dropdown-label"><%=User.find(id=1).username %></label>
          <div class="dropdown-content">
            <%= link_to "Profile", user_path(1) %>
            <%= link_to "Logout", user_path(1) %>
          </div>
        </div>
        <% else %>
        <a href="#" class="navbar-button">Login</a>
        <% end %>

      </div>
    </div>
  </div>

  <%= yield %>

  </body>
</html>
